header{
    border:solid black;
    border-width: 0 0 5px 0;
}
#logo{
    width: 15vw;
    padding: 2vh;
}
.navbar{
    list-style-type: none;
    position: absolute;
}
#header-navbar{
    display: flex;
    right: 1vw;
    top: 0vw;
}
#header-navbar>li{
    margin: 10px;
}

.navbar-font{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
nav{
    width:15vw;
    height: 83.1vh;
    background: purple;
    position: relative;
}
#side-navbar>li{
    margin: 15px;
    color: white;
}

footer{
    width: 100vw;
    height: 6.1vh;
    background-color: grey;
    position: sticky;
    bottom: 0;
}
.footer-text{
    font-family: "Nunito", serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    width: 8vw;
    height: 1vh;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
main{
    position: absolute;
    width: 100vw;
    height: 83.1vh;
    top: 10.8vh;
}
main>section{
    width: 85vw;
    height: 83.1vh;
    position: absolute;
    top: 0;
    left: 15vw;
}
#video-list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 10px 16px;
    outline: none;
    background: none;
    /*width: 85vw;*/
}
/*#video-list>li{*/
/*    position: relative;*/
/*}*/
/*#video-list>li:nth-child(2){*/
/*    left: 28vw;*/
/*}*/
/*#video-list>li:nth-child(3){*/
/*    left: 56vw;*/
/*}*/
.video{
    /*position: absolute;*/
    /*top: 0;*/
    width: 28vw;
    border: 1px solid mediumseagreen;
    /*margin: 2vw;*/
}
#paragraph-div{
    margin: 10px;
    /*position: sticky;*/
}

